:root {
  color: rgb(255, 255, 255,);
  background-color: #000;
}

* { margin: 0; padding: 0;}

body {
  width: 100%;
	height: 100vh;
  display: flex;
  place-items: center;
  
}

#model {
  width: 2vw;
  background: #111;
  /* border: 1px solid red; */
	/* width: auto; */
	/* aspect-ratio: 1/1.618; */

	height: min(90%, 1000px);

	display: flex;
	justify-content: center;
	align-items: center;
	/* margin: auto; */
	/* padding: .25em; */
}

#view {
	width: 100%;
	/* background: red; */
	/* border: 1px solid red; */

	/* width: auto; */
	/* aspect-ratio: 1/1.618; */
	height: 90%;
	/* display: flex; */
	justify-content: center;
	align-items: center;
	margin: auto;
	/* padding: .25em; */
	/* object-fit: contain; */
}
.view-bounds {
	/* background: red; */
	/* border: 1px solid red; */
	font-family: 'Space Mono','Space Grotesk','Cabinet Grotesk', 'Fira Code', mono;
	color: white;
	/* width: auto; */
	aspect-ratio: 1/1.618;
	height: min(90%, 1000px);
	display: grid;
	justify-content: center;
	align-items: center;
	margin: auto;
	/* padding: .25em; */
	object-fit: contain;
	postion: relative;
}

.z {
	position: absolute;
	bottom: 3em;
}