:root {
  color: rgb(255, 255, 255,);
  background-color: #000;
}
* { margin: 0; padding: 0;}

body {
  width: 100%;
  display: flex;
  place-items: center;
  
}

#model {
    width: 100%;
    background: #111;
    /* border: 1px solid red; */
}

